
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
    
    background-color: #eef0e3;
    margin: 0;
    padding: 40px;
}

.form-container {
    width: 500px;
    margin: auto;
    background-color: rgb(107, 185, 219);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 10px 20px 30px rgba(230, 20, 20, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

table {
    width: 100%;
}

td {
    padding: 10px 5px;
    vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    color: #444;
    font-weight: bold;
}